<a href="https://colab.research.google.com/github/amitAera/amit/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# syntax of range function
- (1st,2nd,3rd)
- range ke teen parameter hote hain
- 1st parameter denotes included number
- 2nd denotes excluded number
- 3rd is increment
- for ke last me colon(:) lagta hai

In [ ]:
for i in range(1,11):
  print(2*i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

here +2 hote ja rha hai since ye 3rd no. hai

In [ ]:
for i in range(1,11):
  print('2 * ', i, ' = ', 2*i)

2 *  1  =  2
2 *  2  =  4
2 *  3  =  6
2 *  4  =  8
2 *  5  =  10
2 *  6  =  12
2 *  7  =  14
2 *  8  =  16
2 *  9  =  18
2 *  10  =  20

- string  ' '   ke andar chijey constant ho jaati hai to be continued..
- print func ke andr const,string,integar etc aaskte hain

In [ ]:
for i in range(1,11):
  print('2x',i,'=',2*i)

2x 1 = 2
2x 2 = 4
2x 3 = 6
2x 4 = 8
2x 5 = 10
2x 6 = 12
2x 7 = 14
2x 8 = 16
2x 9 = 18
2x 10 = 20

copy ka feel lene ke liye hum x likhe hain

In [ ]:
input()

dtr54

'dtr54'

In [3]:
a = input()

78

In [4]:
a

'78'

In [7]:
a = (input('Enter a number : '))

Enter a number : 5

In [8]:
type(a)

str

In [9]:
for i in range (1,11):
  print(a,'*',i,'=',a*i)

5 * 1 = 5
5 * 2 = 55
5 * 3 = 555
5 * 4 = 5555
5 * 5 = 55555
5 * 6 = 555555
5 * 7 = 5555555
5 * 8 = 55555555
5 * 9 = 555555555
5 * 10 = 5555555555

- sikh:- input function ka return type string hota hai

In [ ]:
'h'*5

'hhhhh'

In [ ]:
a=int(input('enter no.'))

enter no.4

In [ ]:
type(a)

int

In [ ]:
for i in range (1,11):
  print(a,'*',i,'=',a*i)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
b=int(input('enter no.'))
for i in range(1,11):
  print(b,'*',i,'=',b*i)

enter no.5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# b=int(input('enter no.'))

for j in range(1,11):
  for i in range(1,11):
    print(j,'*',i,'=',j*i)
  print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
for j in range(1,11):
  for i in range(1,11):
    print(j,'*',i,'=',j*i)
  print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100